sudo apt install python3.7-dev libomp-dev 
sudo apt install openmpi-bin openmpi-common libopenmpi-dev
conda remove -n jittor --all
conda create -n jittor python=3.7
conda activate jittor

pip install jittor==1.3.6.12 -i https://pypi.tuna.tsinghua.edu.cn/simple/
pip install pillow==9.4.0 numpy==1.21.6 matplotlib==3.5.3 pyyaml==6.0 tensorboard==2.11.2 tensorboardX==2.6 opencv-python==4.7.0.72 tqdm==4.65.0 pycocotools==2.0.6 terminaltables==3.1.10 shapely==2.0.1 -i https://pypi.tuna.tsinghua.edu.cn/simple/
pip install requests==2.28.2 -i https://pypi.tuna.tsinghua.edu.cn/simple/
pip install scipy -i https://pypi.tuna.tsinghua.edu.cn/simple/
python3.7 setup.py develop


############## data preprocessing
python tools/preprocess.py --config-file configs/preprocess_vehicle/vehicle_config_640.py

############## train
python run_net.py --config-file=configs/PDPA-PAN/PDPA-PAN_oriented-RCNN.py--task=train

############## cal mAP50 —————— Need to download and install DOTA_devkit by yourself
python ./DOTA_devkit-master/cal1.py


